.mainHeader{
    height: 80px;
    width: 100%;
    background-color: aquamarine;
}
.mainHeader input{
    margin-top: 20px;
    height: 30px;
    width: 280px;
    font-size: 16px;

}

.mainHeader {
    height: 80px;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    text-align: center;
}

.carList{
    margin-top: 20px;
    text-align: center;
}

.carBox{
    height: 180px;
    width: 200px;
    background-color: aquamarine;
    display: inline-block;
    margin: 3%;
    
}